<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>Mapping View</title>
    <style>
        path{
            stroke: #999;
            stroke-opacity: 0.6;
            fill: none;
        }
        body{
            background-color: rgb(51,51,51);
        }
        text{
            fill: #DDD;
            font-size: 10px;
            text-anchor: middle;
            pointer-events: none;
            cursor: none;
        }
        g > text.edgelabel{
            fill: #AAA;
        }
    </style>
</head>
<body>
<svg width="1800" height="1080"></svg>
<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script>
    var margin = {top: 20, right: 20, bottom: 70, left: 40},
        width = 1920,
        height = 1080,
        NODE_RADIUS = 15,
        NUM_ROWS = 3000;

    const NODE_HEIGHTS = {"Class": 100, "Attribute":100, "Schema_Store_Type":400, "default":550};
    const CLASS_LOCATIONS = {"Test_Collection|0|en": {"x": 1920/2, "y": 100}, "Another_Test|0|en": {"x": 1920/2, "y": 880}};

    var margin = {top: 20, right: 20, bottom: 70, left: 100},
        NODE_RADIUS = 20,
        CURVE = [0, 0];
    NUM_ROWS = 3000;

    var datasource = "Test_Schema_Store";
    var facetField = "node_type_s";
    var query = "*:*"


    var node, edgelabels, edgepaths, links = [], nodes = [], linksAndLabels;
    var zoom = d3.zoom()
        .on("zoom", zoomFunction);

    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    svg.call(zoom);


    var color = d3.scaleOrdinal().domain(["Class","Attribute","Schema_Store_Type","Solr_Type"]).range(["#72a555",
        "#ab62c0",
        "#ca5670",
        "#638ccc"]);

    restart();

    function restart() {
        var solrQuery = "http://ms-0033:8765/api/v1/solr/"+datasource+"/select?facet.field="+facetField+"&facet.sort=index&facet=on&q="+ query +"&rows=" + NUM_ROWS + "&sort=hierarchy_level_i asc";
        var jData = d3.json(solrQuery);

        var hierarchyCountsMap = {};
        jData.then(function (data) {
            nodes = [], links = [];

            data.response.docs.forEach(function (doc) {
                if(doc.object_type_s === "Edge")
                {
                    doc.source = doc.from_s;
                    doc.target = doc.to_s;
                    links.push(doc);
                }
                else
                {
                    nodes.push(doc);
                    if(hierarchyCountsMap[doc.hierarchy_level_i])
                    {
                        hierarchyCountsMap[doc.hierarchy_level_i]+=1;
                    }
                    else
                    {
                        hierarchyCountsMap[doc.hierarchy_level_i] = 1;
                    }
                }
            });

            var facets = data.facet_counts.facet_fields[facetField];
            for(var i = 0; i < facets.length; i++)
            {
                try
                {
                    facets[i].toLowerCase();
                    d3.select("#facetDiv").append("button")
                        .attr("id", facets[i])
                        .attr("class", "facet")
                        .on("click", filter)
                        .text(facets[i]);
                }
                catch (e) {}
            }


            var scales = {}, previous = 0;
            for(var level in hierarchyCountsMap)
            {

                scales[level] = d3.scaleLinear().domain([previous, previous+hierarchyCountsMap[level]-1]).range([margin["left"], width-margin["right"]]);
                previous += hierarchyCountsMap[level];
            }

            linksAndLabels = svg.append("g")
                .attr("class", "linksAndLabels")
                .selectAll("g")
                .data(links)
                .enter()
                .append("g");

            edgepaths = linksAndLabels
                .append('path')
                .attr('class', 'edgepath')
                .attr('id', function (d, i) {if(i === 163){} return 'edgepath' + i});

            node = svg.append("g")
                .attr("class", "nodes")
                .selectAll("g")
                .data(nodes);

            node = node.enter().append("g");

            node.append("circle")
                .attr("class", function(d){ return "node " + d.node_type_s})
                .attr("r", NODE_RADIUS)
                .attr("fill", function(d) { return color(d.node_type_s); })
                .attr("cx", function(d, i) {if(d.hierarchy_level_i === 1){d.x = CLASS_LOCATIONS[d.id]["x"]; return CLASS_LOCATIONS[d.id]["x"];} d.x = scales[d.hierarchy_level_i](i); return d.x; })
                .attr("cy", function(d) { d.y = getAttrHieght(d, null); return d.y; })
                .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended))
                .on('mouseover', fade(0))
                .on('mouseout', fade(1));

            node.append("title")
                .text(function(d) { return d.id; })
                .attr("x", function(d) { return d.x; })
                .attr("y", function(d) { return d.y; });


            node.append("text")
                .text(function(d) { return d.id; })
                .attr("x", function(d) { return d.x; })
                .attr("y", function(d) { return d.y; });

            for(var i = 0; i < links.length-1; i++)
            {
                var tar = false, src = false;
                for (var n = 0; (!tar || !src) && n < nodes.length; n++){

                    if(nodes[n].id === links[i].source)
                    {
                        links[i].source = nodes[n];
                        src = true;
                    }
                    if(nodes[n].id === links[i].target)
                    {
                        links[i].target = nodes[n];
                        tar = true;
                    }
                }
            }


            edgepaths.attr('d', function (d) {
                return "M" + d.source.x + "," + d.source.y + "C" + (d.source.x-CURVE[0]) + "," + (d.source.y-CURVE[1]) + " " + (d.target.x-CURVE[0]) + "," + (d.target.y-CURVE[1]) + " " + d.target.x + "," + d.target.y;
                // return "M" + d.source.x + "," + d.source.y + "L" + d.target.x + "," + d.source.y + " " + "L" + d.target.x + "," + d.target.y;
                // return "M" + d.source.x + "," + d.source.y + "Q" + d.source.x + "," + d.source.y + "," + d.target.x + "," + d.target.y;
            });


            edgelabels = linksAndLabels
                .append('text')
                .attr('class', 'edgelabel')
                .attr('id', function (d, i) {return 'edgelabel' + i});

            edgelabels.append('textPath')
                .attr('xlink:href', function (d, i) {return '#edgepath' + i})
                .style("pointer-events", "none")
                .attr("startOffset", "50%")
                .text(function (d) {return d.edge_type_s});

            edgelabels.attr('transform', function (d) {
                if (d.target.x < d.source.x) {
                    var bbox = this.getBBox();

                    rx = bbox.x + bbox.width / 2;
                    ry = bbox.y + bbox.height / 2;
                    return 'rotate(180 ' + rx + ' ' + ry + ')';
                }
                else {
                    return 'rotate(0)';
                }
            });
        });
            // function ticked() {
            //     link
            //         .attr("x1", function(d) { if(CLASS_LOCATIONS[d.source.id]){return CLASS_LOCATIONS[d.source.id]["x"]} return d.source.x; })
            //         .attr("y1", function(d) { return getAttrHieght(d, "source"); })
            //         .attr("x2", function(d) { if(CLASS_LOCATIONS[d.target.id]){return CLASS_LOCATIONS[d.target.id]["x"]} return d.target.x; })
            //         .attr("y2", function(d) { return getAttrHieght(d, "target"); });
            //
            //     node.selectAll("circle")
            //         .attr("cx", function(d) { if(CLASS_LOCATIONS[d.id]){return CLASS_LOCATIONS[d.id]["x"]} return d.x; })
            //         .attr("cy", function(d) { return getAttrHieght(d, null); });
            //
            //     node.selectAll("text")
            //         .attr("x", function(d) { if(CLASS_LOCATIONS[d.id]){return CLASS_LOCATIONS[d.id]["x"]} return d.x; })
            //         .attr("y", function(d) { return getAttrHieght(d, null); });
            //
            //     edgepaths.attr('d', function (d) {
            //         return 'M ' + d.source.x + ' ' + getAttrHieght(d, "source") + ' L ' + d.target.x + ' ' + getAttrHieght(d, "target");
            //     });
            //
            //     edgelabels.attr('transform', function (d) {
            //         if (d.target.x < d.source.x) {
            //             var bbox = this.getBBox();
            //
            //             rx = bbox.x + bbox.width / 2;
            //             ry = bbox.y + bbox.height / 2;
            //             return 'rotate(180 ' + rx + ' ' + ry + ')';
            //         }
            //         else {
            //             return 'rotate(0)';
            //         }
            //     });
            //
            // }
    }
    function filter(){
        query = facetField+":"+this.id;
        clearValues();
        restart();
    }

    function resetQuery() {
        query = "*:*";
        clearValues();
        restart();
    }

    function clearValues()
    {
        d3.select(".nodes").remove();
        d3.selectAll(".edgepath").remove();
        d3.selectAll(".edgelabel").remove();
        d3.selectAll(".facet").remove();
        zoom.transform(svg, d3.zoomIdentity);
    }

    function zoomFunction(){

        node.attr("transform", d3.event.transform);
        linksAndLabels.attr("transform", d3.event.transform);
    }

    function fade(opacity) {

        return d => {
            node.style('stroke-opacity', function (o) {
                const thisOpacity = isConnected(d, o) ? 1 : opacity;
                this.setAttribute('fill-opacity', thisOpacity);
                return thisOpacity;
            });

            linksAndLabels.style('opacity', o => (o.source === d || o.target === d ? 1 : opacity));
        };
    }

    function isConnected(nodeOne, nodeTwo) {
        if(nodeOne === nodeTwo)
        {
            return true;
        }
        for(var i = 0; i < links.length; i++)
        {
            if((links[i].from_s === nodeOne.id || links[i].from_s) === nodeTwo.id && (links[i].to_s === nodeOne.id || links[i].to_s === nodeTwo.id))
            {
                return true;
            }
        }
        return false;
    }

    function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
        d3.select(this).classed("fixed", d.fixed = true)
    }

    function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function dblclick(d) {
        d.fx = null;
        d.fy = null;
        d3.select(this).classed("fixed", d.fixed = false)
    }

    function dragended(d) {
        // if (!d3.event.active) simulation.alphaTarget(0);
        // d.fx = null;
        // d.fy = null;
    }

    function getAttrHieght(d, prop) {
        switch(prop)
        {
            case "source":
                if(CLASS_LOCATIONS[d.source.id])
                {
                    return CLASS_LOCATIONS[d.source.id]["y"]
                }
                if(d.source.class_id_s === "Test_Collection|0|en")
                {
                    return CLASS_LOCATIONS[d.source.class_id_s]["y"] + 100
                }
                if(d.source.class_id_s === "Another_Test|0|en")
                {
                    return CLASS_LOCATIONS[d.source.class_id_s]["y"] - 100;
                }
                return NODE_HEIGHTS[d.source.node_type_s];
            case "target":
                if(CLASS_LOCATIONS[d.target.id])
                {
                    return CLASS_LOCATIONS[d.target.id]["y"]
                }
                if(d.target.class_id_s === "Test_Collection|0|en")
                {
                    return CLASS_LOCATIONS[d.target.class_id_s]["y"] + 100
                }
                if(d.target.class_id_s === "Another_Test|0|en")
                {
                    return CLASS_LOCATIONS[d.target.class_id_s]["y"] - 100;
                }
                return NODE_HEIGHTS[d.target.node_type_s];
            default:
                if(CLASS_LOCATIONS[d.id])
                {
                    return CLASS_LOCATIONS[d.id]["y"]
                }
                if(d.class_id_s === "Test_Collection|0|en")
                {
                    return CLASS_LOCATIONS[d.class_id_s]["y"] + 100
                }
                if(d.class_id_s === "Another_Test|0|en")
                {
                    return CLASS_LOCATIONS[d.class_id_s]["y"] - 100;
                }
                return NODE_HEIGHTS[d.node_type_s] || NODE_HEIGHTS["default"];
        }
    }




</script>
</body>
</html>